<div class="inputArea">
    <ion-radio-group [value]="fromLang" (ionChange)="fromSelected($event)">
        <ion-radio [value]="lang.key" *ngFor="let lang of language$ | async">{{ lang.name }}</ion-radio>
    </ion-radio-group>
    <div class="inputText">
        <ion-textarea type="text" [(ngModel)]="textInput" required="true" autoGrow="true" autofocus="true"
            placeholder="Enter text here...">
        </ion-textarea>
        <ion-button *ngIf="textInput" id="clear" slot="icon-only" size="small" (click)="clearText()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </div>
    <ion-button 
        class="custom"
        [disabled]="textInput.length == 0 || toLang.length == 0" 
        size="small"
        (click)="translate()">
        Translate
    </ion-button>
</div>
<div class="translatedArea">
    <ion-radio-group [value]="" (ionChange)="toSelected($event)">
        <ion-radio [disabled]="fromLang == lang.key" *ngFor="let lang of language$ | async" [value]="lang.key">{{ lang.name }}</ion-radio>
    </ion-radio-group>
    <ion-text disabled="true" mode="ios" color="medium">
        {{ translatedText }}
    </ion-text>
</div>
