<div>
    <ion-radio-group value="en">
        <ion-radio value="en">English</ion-radio>
        <ion-radio value="fr">French</ion-radio>
        <ion-radio value="es">Spanish</ion-radio>
    </ion-radio-group>
    <ion-textarea class="custom" [autoGrow]="true" autofocus="true" placeholder="Enter text here..."></ion-textarea>    
</div>
<div class="translatedArea">
    <ion-item class="translatedText"><ion-label>Translated text</ion-label></ion-item>
    <ion-radio-group value="en">
        <ion-radio value="en">English</ion-radio>
        <ion-radio value="fr">French</ion-radio>
        <ion-radio value="es">Spanish</ion-radio>
    </ion-radio-group>
    <ion-text mode="ios" color="primary">Translation...</ion-text>
</div>
